/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/


/* stylelint-disable*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}

html {
  line-height: 1
}

body {
  line-height: inherit
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


/*End of reset-css*/
body{
    overflow-x:hidden;
}
#header {
  height: 18em;
  position: relative;
  font-family: Helvetica, Arial;
  background-image: url("my.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2.2em;
  text-align: center;
  padding-top: 0.3em;
}
.home{
  display:inline;
  margin-top: 13em;
  padding-top: 0em;
  margin-left:-6.7999999999999999em;
  border-radius: 1.6em;
  background-color: white;
}
#logo {
  margin-top: 0.3em;
  margin-left: 0.5em;
  display: inline-block;
  float: left;
}

#nav ul li {
  display: block;
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background-color: white;

}
#nav ul li a{
  color: green;

}
#butt{
  background-color: #4db94d;
}
 #buttons{
  display:inline;
  padding: 0.6em 0.6em 0.6em 0.6em;
  margin-left: 0.6em;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: white;
}
#button{
 display:inline;
 padding: 0.6em 0.6em 0.6em 0.6em;
 margin-left: 0.6em;
 border-radius: 10px;
 background-color: white;
}
 a:link {
  text-decoration: none;
}

#nav a:hover {
  color: red;
}

#nav {
  display: block;
  margin-top: 1em;
  margin-left: 1em;
  text-align: center;
  float: right;
}
h3{
  padding-left: 0.6em;
  text-align: center;
  font-size: 1.5em;
  color: green;
  background-color: white;
}
img {
  display: block;

}
 .image li {
  display: none;
}
ol{
  font-size: 1em;
  margin-left: 1.2em;
  line-height: 1.5em;
}
p {
  text-align: left;
  line-height: 1.7em;
  padding-left: 1.2em;
  padding-right: 0.2em;
  font-style: normal;
  padding-bottom: 1em;
  hyphens: auto;
}

#about, #contact {
  padding: 0.3em 0 0em 0em;
  text-decoration: none;
  background-color: #4db94d;
  color: white;
  text-align: left;
}

#media {
  background: #c9efc2;
}

#cont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  grid-auto-rows: auto;
}

#phone {
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 1em;
  padding-left: 2em;
  font-size: 1.124em;
}

#mail {
  grid-column: 2;
  grid-row: 1;
  padding-bottom: 1em;
  font-size: 1.124em;
}

.images {
  display: flex;
  flex-flow: row-reverse wrap;
  padding: 7px;
  background: #c9efc2;
}

.images li {
  flex: 1 1 300px;
  padding: 1px;
}
.gallerys{
  display:flex;
  max-width: 1000px;
  position: relative;
  margin-left: 4em;

}

figcaption{
  font-family: sans-serif;
}
.next{
  border-radius: 5em;
  width: 4em;
  height: 2em;
  color: green;
  margin-left: 4em;
}
@media only screen and (min-width: 400px) {
  p {
    font-size: 1.3em;
  }
  #nav ul li {
    display: inline-flex;
  }
  #nav {
    display: inline-flex;
    font-size: 1.4em;
  }
  ol{
    font-size: 1.3em;
  }
  .gallerys{
    position: relative;
    padding-left: 20%;

  }
  .next{
    margin-left: 20%;
    border-radius: 5em;
    width: 6em;
    height: 3em;
  }
}

@media only screen and (min-width: 1000px) {
  .images li {
    flex: 1 1 100px;
    padding: 10px;
  }
  h1 {
    /*padding: 0.3em 0 0 1.3em;*/
    font-size: 2.9em;
    text-align: left;
    padding-left: 0.3em;
  }
  #nav {
    font-size: 2em;
  }
  #grid {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 5px;
    grid-auto-rows: auto;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 1em;
  }
  #vis {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    color: green;
  }
  #miss {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    color: green;
  }
  #phil {
    grid-column: 3;
    grid-row: 1;
    background-color: white;
    color: green;
  }
  #prim{

    margin-left: 8em;
    margin-right: 8em;
  }
  body{
    background-image: url("deca.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #primary{

    margin-left: 8em;
    margin-right: 8em;
  }
  #header{
    margin-left: 8em;
    margin-right: 8em;
  }
  ol{
    font-size: 1.4em;
  }
  h3{

    font-size: 2em;

  }
}



@media only screen and (min-width: 1494px) {
  #grid p {
    padding: 2em 2em 2em 2em;
  }

  h1 {
    /*padding: 0.3em 0 0 1.3em;*/
    font-size: 3.3em;
  }
  .gallerys{
    padding-left: 30%;

  }
  .next{
    margin-left: 30%;
  }
}
@media only screen and (min-width: 786px) {
  .images li {
    flex: 1 0 100px;
    padding: 1px;
  }
}
